<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sampson.apichallenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controller.EventsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApiChallenge">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <activity
            android:label="@string/label_event_checkin_activity"
            android:name=".ui.EventCheckInActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.EventDetailsActivity"
            android:label="@string/label_event_details_activity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>